
<!-- 
  
/*
===========================================================================================================
                                File:Passport.js
                                Student Name:Sai Krishna Amaraneni
                                Student ID:301151074
                                Date:23 October 2020
===========================================================================================================
*/
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>

  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      
      <h2 class="text-center text-uppercase text-white">About Me</h2>
      <hr class="star-light mb-5" />
      <span style="font-size: 120px;"> </span>
      <div class="text-center">
        <div style="width: 350px; margin-bottom: 70px; display: inline-block">
          <img class="img-fluid" src="/static/img/portfolio/me.png" alt="avatar" />
        </div>
      </div>
      <h1 class=" mb-0">SaiKrishna Amaraneni</h1>
    </div>
  </header>
  <!--About Section-->
  <section class="bg-primary text-white mb-0" id="About">
    <div class="container">
      <div class="row">
        <div class="ml-auto">
          <p class="lead">
            Hello, I am SaiKrishna Amaraneni, An enthusiastic Data Analyst with over 3 years of experience. “I do not
            believe in taking the right decision, I take a decision and make it right.” this explains my attitude.
          </p>
        </div>
      </div>
      <div class="text-center">
        <a target="_blank" rel="noopener noreferrer" href="/resume" class="btn btn-secondary mt-5">My Resume</a>
      </div>
    </div>
  </section>


  <!--Footer-->
  <% include ./partials/footer %>
</body>

</html>