<!-- 
  
/*
===========================================================================================================
                                File:Passport.js
                                Student Name:Sai Krishna Amaraneni
                                Student ID:301151074
                                Date:23 October 2020
===========================================================================================================
*/
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>

  <section id="contact ">
    <div class="container">
      <div class="error_container">
        <h2 class="text-center text-uppercase text-danger mt-5 mb-0">
          Dashboard !
        </h2>
      <hr class="star-dark mb-5" />
        <a href="/logout" class="btn btn-danger btn-sm">Log Out</a>
      <div class="text-center mt-5">
        <a href="/contactlist" class="btn btn-secondary btn-sm">Check Business Contacts List <i class="fas fa-chevron-right"></i></a>
      </div>
      </div>
    </div>
  </section>

  <!--Footer-->
  <% include ./partials/footer %>
</body>

</html>