
<!-- 
/*
===========================================================================================================
                                File:Passport.js
                                Student Name:Sai Krishna Amaraneni
                                Student ID:301151074
                                Date:23 October 2020
===========================================================================================================
*/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!--Navigation-->
    <% include ./partials/navmenu %>

    <!--Home page content-->

    <section class="bg-primary text-white mb-0" id="About">
      <div class="container" style="min-height: 500px;margin-top: 150px;">
        <h2 class="text-center text-uppercase text-white">Home</h2>
        <hr class="star-light mb-5" />
        <p style="text-align: center;font-weight: 600;font-size: 36px;">Hi , Welcome to my Portfolio .</p>
      <div class="row">
        <div class="ml-auto">
          <p class="lead">
            My personal mission is to always live with integrity, positivity  and strive to use everyday and every experience as an opportunity for improvement and growth. I intend to apply this to my life personally and professionally.
          </p>
          <p class="lead">
            I intend to accomplish these goals by emphatically listening to every person I encounter and using their knowledge to grow as a person. Another way I intend to do this by treating every experience, good or bad, as a learning experience. I intend to approach each endeavor with the same tenacity and dedication regardless of the breadth of my experience or success.
          </p>
        </div>
      </div>
        <div class="text-center">
          <a href="/about" class="btn btn-secondary mt-5">About me</a>
        </div>
      </div>
    </section>
    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
