<!-- 
  
/*
===========================================================================================================
                                File:Passport.js
                                Student Name:Sai Krishna Amaraneni
                                Student ID:301151074
                                Date:23 October 2020
===========================================================================================================
*/
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>





  <!--Project Grid Section-->
  <section class="portfolio mt-5" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">
        Project
      </h2>
      <hr class="star-dark mb-5" />
      <div class="row">
        <!--Movie Finder-->
        <div class="col-12">

          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p style="font-size: 40px;font-weight: 600;font-family: cursive;">
                  Exploratory Data Analysis Project (EDA)
                </p>
              </div>
            </div>
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/project1.png" alt="Movie Finder" />
            </div>
          </a>
          <div class="description">
            <h3>Exploratory Data Analysis Project (EDA)</h3>
            <p>

              A data analyst’s job remains incomplete without the Exploratory Data Analysis – the stage where the data
              gets looked into and patterns or findings are made. It provides a summary of the overall characteristics
              in data analysis and understanding it with data modeling techniques. What would have taken long,
              exhaustive sessions to find anomalies in numbers, exploratory data analysis is the perfect way to get it
              done.
            </p>
            <p>
              EDA can generally be done in two ways: first, with the help of graphics or non-graphics, and second with
              univariate or
              bivariate quantities. For continuing with any data analytics projects, the IBM Analytics Community can
              prove to be an
              ample resource.
            </p>
          </div>
        </div>
        <!--Movie Finder-->
        <div class="col-12">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p style="font-size: 40px;font-weight: 600;font-family: cursive;">
                  Sentiment Analysis .
                </p>
              </div>
            </div>
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/project2.jpg" alt="Movie Finder" />
            </div>
          </a>


          <div class="description">
            <h3>Sentiment Analysis</h3>
            <p>

              For data analysts, the objective of having a sentiment analysis project can be about understanding the
              positive or negative polarities of the viewers based on their sentiments. Such extractions can help to
              know the general viewpoint of your viewers about a particular idea, based on their opinions shared on
              websites, social media handles, etc. The various categories can be happy, angry, sad, curious, etc.

            </p>
          </div>
        </div>
        <!--Movie Finder-->
        <div class="col-12">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p style="font-size: 40px;font-weight: 600;font-family: cursive;">
                  Movie Recommendation System
                </p>
              </div>
            </div>
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/project3.jpg" alt="Movie Finder" />
            </div>
          </a>

          <div class="description">
            <h3>Movie Recommendation System</h3>
            <p>

              One of the most basic methods to build user-customized services, building a stable movie recommendation
              system, may not come as easy as it sounds. Since the concept is based on an abstract click method, there
              would be massive implementations of Machine Learning. You’d require extensive access to large data sets of
              users’ movie browsing history, preferences, and more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--Footer-->
  <% include ./partials/footer %>
</body>

</html>