<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Resume</title>
</head>
<body>
  <embed src="/static/img/portfolio/SaiKrishna_Resume-converted.pdf" style="width: 100%;" width="100%" height="2000px" />
</body> 
</html>