<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>





  <!--Project Grid Section-->
  <section class="portfolio mt-5" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Services</h2>
      <hr class="star-dark mb-5" />
      <div class="row">
        <!--Movie Finder-->
        <div class="col-12">
          <div class="text-center">
            <img class="" width="50%" src="/static/img/portfolio/cloud_application.png" alt="Movie Finder" />
          </div>
          <div class="description">
            <h3>Cloud Application Development</h3>
            <p>
              We offer services to businesses for building applications that are both technically and architecturally
              designed to being smooth and can be maintained by the cloud infrastrucutre.
            </p>
          </div>
        </div>
        <!--Movie Finder-->
        <div class="col-12">
          <div class="text-center">
            <img width="50%" class="img-fluid" src="/static/img/portfolio/desktop_application.jpg" alt="Movie Finder" />
          </div>

          <div class="description">
            <h3>Desktop Application Development.</h3>
            <p>
              We offer platform-specific or cross-platform desktop application development services which helps to turn
              your software idea into a reality.
            </p>
          </div>
        </div>
        <!--Movie Finder-->
        <div class="col-12">

          <div class="text-center">
            <img style="width: 50%;" class="img-fluid" src="/static/img/portfolio/mobile_application.png"
              alt="Movie Finder" />
          </div>
          <div class="description">
            <h3>Mobile Application Development</h3>
            <p>
              we offer services which includes end-to-end development of mobile applications.UI/UX design to mobile
              application testing and deployment.
            </p>
          </div>
        </div>

        <div class="col-12">

          <div class="text-center">
            <img style="width: 50%;" class="img-fluid" src="/static/img/portfolio/web_application.jpg"
              alt="Movie Finder" />
          </div>
          <div class="description">
            <h3>Web Application Development</h3>
            <p>
              We offer a wide range of web applications consulting services. It includes creating and delivering of
              custom web applications, we support businesses in different to cater their targeted audiences.
            </p>
          </div>
        </div>


      </div>
    </div>
  </section>


  <!--Footer-->
  <% include ./partials/footer %>
</body>

</html>